.advantages {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 0;
    padding-bottom: 26px;
    border-bottom: 1px solid $border-color;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    border-bottom: none;
  }
}

.advantages__title {
  @include font-style__title;
  margin: 0;
  margin-bottom: 30px;
  color: $text-color-main;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    @include font-style__promo-title;
    margin-bottom: 72px;
  }
}

.advantages__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    min-height: 577px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    min-height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
}

.advantages__item {
  min-height: 60px;
  position: relative;
  margin-bottom: 20px;

  &--marker::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $color-second;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--useful-img::before {
    background-image: url("../../img/advantage-leaf@1x.png");
    background-size: 29 26;
  }

  &--easily-img::before {
    background-image: url("../../img/advantage-powder@1x.png");
    background-size: 30 31;
  }

  &--practical-img::before {
    background-image: url("../../img/advantage-dining@1x.png");
    background-size: 24 30;
  }

  &--result-img::before {
    background-image: url("../../img/advantage-clock@1x.png");
    background-size: 26 31;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 324px;
    min-height: 240px;
    margin-right: 30px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--marker::before {
      width: 80px;
      height: 80px;
    }

    &--useful-img::before {
      background-size: 25 27;
    }

    &--easily-img::before {
      background-size: 24 25;
    }

    &--practical-img::before {
      background-size: 25 27;
    }

    &--result-img::before {
      background-size: 24 27;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
    min-height: 240px;
    margin-right: 25px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 25px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.advantages__text {
  @include font-style__5;
  margin: 0;
  margin-left: 80px;
  padding-top: 2px;
  font-family: $font-second;
  text-align: left;
  color: $text-color-fourth;
}

@media (min-width: $tablet-width) {
  .advantages__text {
    @include font-style__22;
    margin-top: 110px;
    margin-right: 70px;
    margin-left: 0;
    padding-top: 0;
    z-index: 1;

    &--number-1::after {
      @include font-style__XXX;
      content: "1";
      display: block;
      position: absolute;
      top: -40px;
      left: 118px;
      color: $color-third;
      z-index: 0;
    }
  }
}
