.advantages {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 0;
    padding-bottom: 26px;
    border-bottom: 1px solid $border-color;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    border-bottom: none;
  }
}

.advantages__title {
  @include font-size__3;
  margin: 0;
  margin-bottom: 30px;
  color: $text-color-main;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    @include font-size__2;
    margin-bottom: 72px;
  }
}

.advantages__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    min-height: 577px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    min-height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
}

.advantages__item {
  min-height: 60px;
  position: relative;
  margin-bottom: 20px;

  &--marker::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-size: 50px 50px;
    background-color: $color-second;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--useful-img::before {
    background-image: url("../../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
    }
  }

  &--easily-img::before {
    background-image: url("../../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
    }
  }

  &--practical-img::before {
    background-image: url("../../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
    }
  }

  &--result-img::before {
    background-image: url("../../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 324px;
    min-height: 240px;
    margin-right: 60px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--marker::before {
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
    min-height: 240px;
    margin-right: 80px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.advantages__text {
  @include font-size__19;
  margin: 0;
  margin-left: 80px;
  padding-top: 2px;
  font-family: $font-second;
  text-align: left;
  color: $text-color-fourth;
}

@media (min-width: $tablet-width) {
  .advantages__text {
    @include font-size__14;
    margin-top: 110px;
    margin-right: 70px;
    margin-left: 0;
    padding-top: 0;
    position: relative;
    z-index: 2;

    &--number-1::after {
      @include font-size__1;
      content: "1";
      display: block;
      position: absolute;
      top: -150px;
      left: 118px;
      font-family: $font-main;
      color: $color-third;
      z-index: -1;
    }

    &--number-2::after {
      @include font-size__1;
      content: "2";
      display: block;
      position: absolute;
      top: -150px;
      left: 111px;
      font-family: $font-main;
      color: $color-third;
      z-index: -1;
    }

    &--number-3::after {
      @include font-size__1;
      content: "3";
      display: block;
      position: absolute;
      top: -150px;
      left: 113px;
      font-family: $font-main;
      color: $color-third;
      z-index: -1;
    }

    &--number-4::after {
      @include font-size__1;
      content: "4";
      display: block;
      position: absolute;
      top: -150px;
      left: 113px;
      font-family: $font-main;
      color: $color-third;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    margin-right: 0;
  }
}
