.application {
  background-color: $color-main;
}

.application__wrapper {
  display: flex;
  flex-direction: column;
}

.application__title {
  @include font-style__title;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: left;
  color: $text-color-main
}

.application__text {
  @include font-style__5;
  margin: 0;
  margin-bottom: 40px;
  width: 270px;
  text-align: left;
  text-transform: uppercase;
  color: $text-color-main;
}

.application__note {
  @include font-style__5;
  margin: 0;
  font-family: $font-second;
  text-align: center;
  text-transform: none;
  color: $text-color-fourth;
  order: 1;
}
