.btn {
  @include font-style__5;
  width: 280px;
  min-height: 40px;
  margin: 0;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: $font-main;
  text-transform: uppercase;
  color: $text-color-second;
  background-color: $color-second;
  border: none;
}

@media (min-width: $tablet-width) {
  .btn {
<<<<<<< Updated upstream
    width: 245px;
    min-height: 52px;
=======
>>>>>>> Stashed changes
    @include font-style__promo-text-tablet;
  }
}

// // @media (min-width: $desktop-width) {
// //   .btn {}
// // }
