.catalog {
  background-color: $color-main;
  margin-bottom: 28px;
}

.catalog__title {
  @include font-style__title;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: $mobile-padding;
  text-align: left;
}

.catalog__list {
  @include list-style;
}
