.catalog {
  margin-bottom: 28px;
  padding-top: 15px;
  background-color: $color-main;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 0;
  }
}

.catalog__wrapper {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding: $desktop-padding;
  }
}

.catalog__title {
  @include font-style__title;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 29px;
  text-align: left;
  color: $text-color-main;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    @include font-style__promo-title;
    margin-left: 0;
    margin-bottom: 85px;
  }
}

.catalog__list {
  @include list-style;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    margin-right: 60px;
    margin-bottom: 58px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    margin-right: 80px;
    margin-bottom: 58px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
