.contacts {
  background-color: $color-third;
}

@media (min-width: $tablet-width) {
  .contacts {
    background-color: $color-third;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts--mobile {
    background-color: $color-main;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;

  &--map {
    height: 362px;
    display: block;
    padding: 0;
    overflow: hidden;
    background-color: $color-third;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    margin-bottom: 60px;
    padding: 0 40px;
    padding-top: 65px;
    justify-content: space-between;
    background-color: $color-third;

    &--map {
      height: 400px;
      margin: 0;
      padding: 0;
      background-color: $color-third;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 570px;
    margin: 0;
    padding: 63px 0;
    padding-left: 76px;
    padding-right: 84px;
    position: absolute;
    top: 95px;
    left: 40px;
    justify-content: space-between;
    background-color: $color-main;

    &--map {
      width: auto;
      height: 400px;
      padding: 0;
      position: static;
      background-color: $color-third;
    }
  }
}

.contacts__strong {
  @include font-style__12;
  display: block;
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  text-transform: uppercase;
  color: $text-color-main;
}

@media (min-width: $tablet-width) {
  .contacts__strong {
    @include font-style__menu-desktop;
    width: 160px;
  }
}

.contacts__text {
  @include font-style__11;
  display: block;
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: $font-second;
  color: $text-color-fourth;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    @include font-style__12;
    width: 160px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    text-align: left;
  }
}

.contacts__map {
  margin-top: -38px;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    margin: 0;
  }
}
