.copyright {
  min-height: 78px;
  padding-top: 22px;  //для IE
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  //для IE
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: auto;
    padding-top: 0;  //для IE
    align-items: center;  //для IE
  }
}

.copyright__text {
  @include font-style__15;
  margin: 0;
  margin-right: auto; //для IE
  padding-top: 7px;  //для IE
  font-family: $font-second;
  color: $text-color-fourth;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-top: 0; //для IE
    margin-right: 20px;
  }
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__img {
  width: 27px;
  height: 34px;
  transform: scale(1.5, 1.5);
}

.copyright__img:hover path {
  fill: $color-second;
}

.copyright__img:active path {
  fill: $color-second;
  opacity: 0.3;
}
