.copyright {
  min-height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright__text {
  @include font-size__17;
  margin: 0;
  margin-right: auto;
  padding-top: 7px;
  font-family: $font-second;
  color: $text-color-fourth;
}

.copyright__img {
  fill: $icon-color;
}

.copyright__img:hover {
  fill: $color-second;
}

.copyright__img:active {
  fill: $color-second;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: auto;
    align-items: center;
  }

  .copyright__text {
    padding-top: 0;
    margin-right: 22px;
  }
}
