.example {
  min-height: 705px;
  background-color: $color-third;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.example__title {
  @include font-style__title;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
  color: $text-color-main;
}

.example__text {
  @include font-style__5;
  margin: 0;
  margin-bottom: 25px;
  font-family: $font-second;
  text-align: left;
  color: $text-color-fourth;
}

.example__list {
  @include list-style;
  display: flex;
  margin-bottom: 14px;
  flex-wrap: wrap;
}

.example__item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 124px;
  height: 56px;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 13px;
  border: 1px solid $border-color-second;
  border-radius: 3px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.example__value {
  @include font-style__9;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
}

.example__desc-small {
  @include font-style__10;
  position: absolute;
  display: block;
  width: 87px;
  min-height: 24px;
  top: 46px;
  left: 20px;
  margin: 0;
  padding: 0 10px;
  font-family: $font-second;
  text-align: center;
  color: $text-color-fourth;
  background-color: $color-third;
}

.example__count {
  @include font-style__11;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  align-self: center;
  font-family: $font-main;
  text-align: center;
  color: $text-color-main;
  text-transform: uppercase;
}
<<<<<<< Updated upstream
=======

@media (min-width: $tablet-width) {
  .example__count {
    width: 190px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .example__count {
    width: auto;
    padding-top: 0;
    flex-direction: row;
    text-align: left;
  }
}

.example__count-text {
  @include font-style__11;
}

@media (min-width: $tablet-width) {
  .example__count-text {
    @include font-style__promo-text-tablet;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .example__count-text {
    margin-right: 65px;
    margin-bottom: 0;
  }
}

.example__slider {
  background-color: $color-third;
}

@media (min-width: $tablet-width) {
  .example__slider {
    width: $tablet-width;
    margin: 0 auto;
    padding: $tablet-padding;
  // padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .example__slider {
    width: 650px;
    margin: 0;
    padding: 0;
  }
}
>>>>>>> Stashed changes
