.form {
  background-color: $color-main;
  overflow: hidden;
}

.form__title {
  @include font-style__9;
  padding: 0;
  margin-bottom: 34px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  color: $text-color-main;

  &--position {
    margin-bottom: 36px;
  }

  &::before{
    content: "";
    width: 5000px;
    height: 3px;
    display: block;
    position: absolute;
    top: 23px;
    left: -5039px;
    background-color: $color-second;
  }
  
  &::after {
    content: "";
    width: 5000px;
    height: 3px;
    display: block;
    position: absolute;
    top: 23px;
    right: -5042px;
    background-color: $color-second;
  }
}

@media (min-width: $tablet-width) {
  .form__title {
    @include font-style__2;
    margin-bottom: 77px;

    &--position {
      margin-bottom: 58px;
    }
  }
}

.form__wrapper {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    margin-bottom: 74px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    margin-bottom: 68px;
  }
}

.form__wrapper-down {
  width: $mobile-width;
  margin: 0 auto;
  padding: $mobile-padding;
}

@media (min-width: $tablet-width) {
  .form__wrapper-down {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-btn {
    display: flex;
    flex-direction: column;
    margin-right: 83px;
  }
}

.form__cat {
  margin: 0;
  margin-bottom: 23px;
  padding: $mobile-padding;
  border: none;
}

@media (min-width: $tablet-width) {
  .form__cat {
    padding: 0;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .form__cat {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.form__programm {
  margin: 0;
  padding: 20px;
  border: 1px solid $border-color-second;
}

@media (min-width: $tablet-width) {
  .form__programm {
    padding: 24px 28px;
  }
}

@media (min-width: $desktop-width) {
  .form__programm {
    width: 570px;
    margin-bottom: 0;
  }
}

.form__feedback {
  margin: 0;
  margin-bottom: 28px;
  padding: $mobile-padding;
  border: none;
}

@media (min-width: $tablet-width) {
  .form__feedback {
    padding: 0;
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .form__feedback {
    margin-bottom: 65px;
  }
}

.form__comment {
  margin: 0;
  margin-bottom: 28px;
  padding: $mobile-padding;
  display: flex;
  border: none;
}

@media (min-width: $tablet-width) {
  .form__comment {
    padding: 0;
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .form__comment {
    margin-bottom: 65px;
  }
}

.form__additional {
  margin: 0;
  margin-bottom: 35px;
  padding: $mobile-padding;
  border: none;
}

@media (min-width: $tablet-width) {
  .form__additional {
    padding: 0;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .form__additional {
    margin-bottom: 29px;
  }
}

.form__list {
  @include list-style;
}

@media (min-width: $tablet-width) {
  .form__list--additional {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .form__list--feedback {
    display: flex;
  }
}

.form__item {
  display: flex;
  align-items: center;
  position: relative;

  &--cat {
    height: 45px;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--programm {
    height: 30px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--feedback {
    height: 45px;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--additional {
    height: 30px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    &--cat {
      height: 52px;
      margin-bottom: 20px;
    }

    &--programm {
      height: 40px;
      margin-bottom: 13px;
    }

    &--feedback {
      height: 52px;
      margin-bottom: 20px;
    }

    &--additional {
      width: 284px;
      height: 40px;
      margin-right: 60px;
      margin-bottom: 32px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .form__item--feedback {
    width: 570px;
    margin: 0;
    margin-right: 80px;

    &:nth-child(2n) {
      margin: 0;
    }
  }

  .form__item--additional {
    width: 245px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.form__label {
  @include font-style__label;
  flex-shrink: 0;
  text-align: left;
  text-transform: uppercase;
  color: $text-color-third;

  &--text {
    margin-right: 15px;
  }

  &--radio {
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid $border-color-second;
    }

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      top: 9px;
      left: 9px;
      border-radius: 50%;
      background-color: $color-second;
    }
  }

  &--checkbox {
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      border: 1px solid $border-color-second;
    }

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 17px;
      top: 6px;
      left: 5px;
      background-image: url("../../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .form__label {
    @include font-style__menu;

    &--text {
      margin-right: 17px;
    }

    &--radio {
      padding-left: 46px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 18px;
        height: 18px;
        top: 11px;
        left: 11px;
      }
    }

    &--checkbox {
      padding-left: 45px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 21px;
        height: 16px;
        top: 12px;
        left: 10px;
      }
    }
  }
}

.form__input {
  border: 1px solid $border-color-second;

  &--text {
    @include font-style__label;
    min-width: 140px;
    height: 45px;
    padding: 0;
    padding-left: 15px;
    flex-grow: 1;
    font-family: $font-main;
    text-align: left;
    text-transform: uppercase;
    color: $text-color-fourth;
  }

  &--radio {
    opacity: 0;
  }

  &--checkbox {
    opacity: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__input {
    &--text {
      @include font-style__menu;
      height: 52px;
    }
  }
}

.form__input--radio + .form__label--radio::after {
  content: none;
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
}

.form__input--radio:focus + .form__label--radio::before {
  outline: rgb(59, 153, 252) auto 1px;
}

.form__input--checkbox + .form__label--checkbox::after {
  content: none;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";
}

.form__input--checkbox:focus + .form__label--checkbox::before {
  outline: rgb(59, 153, 252) auto 1px;
}

.form__textarea {
  @include font-style__label;
  width: 280px;
  height: 150px;
  padding: 13px;
  font-family: $font-main;
  text-transform: uppercase;
  resize: none;
  border: 1px solid $border-color-second;
}

@media (min-width: $tablet-width) {
  .form__textarea {
    @include font-style__32;
    height: 174px;
    padding: 10px 18px;
    flex-grow: 1;
  }
}

.form__btn {
  width: 280px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .form__btn {
    @include font-style__promo-text-tablet;
    width: 283px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .form__btn {
    width: 568px;
    height: 52px;
  }
}

.form__note {
  @include font-style__5;
  margin: 0;
  font-family: $font-second;
  text-align: center;
  text-transform: none;
  color: $text-color-fourth;
}

@media (min-width: $tablet-width) {
  .form__note {
    @include font-style__15;
    margin-left: 63px;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .form__note {
    margin-left: 0;
    padding-top: 20px;
  }
}
