.header {
  background-color: $color-main;
}

@media (min-width: $tablet-width) {
  .header {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    margin-bottom: 25px;
  }
}

@media (max-width: $mobile-width-only) {
  .header__wrapper {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    padding-top: 55px;
  }
}

.header__logo {
  min-height: 66px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .header__logo {
    min-height: 59px;
    margin: 0;
    position: static;
    border-bottom: none;
  }
}

.header__logo-link {
  width: 191px;
  height: 39px;
  margin-left: 20px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .header__logo-link {
    width: 174px;
    min-height: 59px;
    margin-left: 0;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $desktop-width) {
  .header__logo-link {
    width: 203px;
    min-height: 60px;
  }
}

.header__logo-img {
  width: 191px;
  height: 39px;
}

.header__toggle {
  position: absolute;
  z-index: 2;
  top: 23px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: $color-main;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--open {
    width: 25px;
    height: 19px;
    background-image: url("../../../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }

  &--close {
    width: 19px;
    height: 19px;
    background-image: url("../../../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }

  &--nojs {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .header__toggle {
    display: none;
  }
}
