.header {
  background-color: $color-main;
}

@media (min-width: $tablet-width) {
  .header {
    margin-bottom: 60px;
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin-bottom: 60px;
    padding-top: 50px;
  }
}

.header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    width: $tablet-width;
    min-height: 59px;
    padding: $tablet-padding;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    width: $desktop-width;
    min-height: 60px;
    padding: $desktop-padding;
  }
}

.header__inner {
  width: $mobile-width;
  min-height: 66px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .header__inner {
    width: 174px;
    min-height: 59px;
    margin: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .header__inner {
    width: 203px;
    min-height: 60px;
  }
}

.header__logo-link {
  width: 191px;
  height: 39px;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header__logo-link {
    min-height: 59px;
    margin-left: 0;
  }
}

.header__logo-img {
  width: 191px;
  height: 39px;
}

.header__toggle {
  position: absolute;
  z-index: 2;
  top: 23px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: $color-main;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--open {
    width: 25px;
    height: 19px;
    background-image: url("../../../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }

  &--close {
    width: 19px;
    height: 19px;
    background-image: url("../../../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }

  &--nojs {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .header__toggle {
    display: none;
  }
}

// @media (min-width: $desktop-width) {
//   .page-header {
//     display: flex;
//     padding-bottom: 113px;
//   }

//   .page-header__wrapper {
//     min-width: 1200px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .page-header__logo {
//     display: flex;
//     align-items: stretch;
//     justify-content: flex-start;
//     border-bottom: none;
//     min-height: 60px;
//   }

//   .page-header__nav {
//     display: flex;
//   }
// }
