.logo {
  height: 39px;
  margin: 10px 20px 15px;

  &--footer {
    height: 24px;
    margin: 39px 94px 31px;
  }

  &__img {
    width: 191px;
    height: 39px;

    &--footer {
      width: 128px;
      height: 24px;
    }
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 11px 10px 15px;

    &__link {
      width: 191px;
      height: 59px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding: 11px 10px 15px;

    &__link {
      width: 191px;
      height: 60px;
    }
  }
}
