.main-promo {
  min-height: 500px;
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-promo {
    min-height: 806px;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo {}
// }

.main-promo__wrapper--btn {
  position: relative;
  min-width: 340px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-promo__wrapper--btn {
    background-color: $bg-white;
    width: 709px;
    height: 609px;
    align-items: flex-start;
    padding: 30px;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo__wrapper--btn {}
// }

.main-promo__wrapper--bg-cat {
  padding-bottom: 140px;
  align-items: stretch;
  min-height: 305px;
  margin-bottom: 135px;
  background-color: $bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

@media (min-width: $tablet-width) {
  .main-promo__wrapper--bg-cat {
    min-height: 197px;
    margin: 0;
    padding-bottom: 20px;
    background: none;
    background-color: $bg-white;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo__wrapper--bg-cat {}
// }

.main-promo__title {
  padding: 0 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .main-promo__title {
    margin: 0;
    margin-bottom: 35px;
    padding: 0 120px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo__title {
//   }
// }

.main-promo__text {
  padding: 0 60px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-promo__text {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 120px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo__text {
//   }
// }

.main-promo__img {
  position: absolute;
  top: -280px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .main-promo__img {
    display: none;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo__img {
//   }
// }

.main-promo__link {
  margin: 10px;
  background-color: $bg-leaf;
  padding: 5px 20px;
}

@media (min-width: $tablet-width) {
  .main-promo__link {
    margin-left: 90px;
    background-color: $bg-leaf;
    padding: 5px 20px;
  }
}

// @media (min-width: $desktop-width) {
//   .main-promo__link {
//   }
// }
