.page-header {
  display: block;
  background-color: $bg-white;

  &__wrapper-logo {
    width: 320px;
    height: 66px;
    padding-top: 1px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__logo {
    width: 191px;
    display: block;
  }

  &__toggle {
    position: absolute;
    top: 23px;
    right: 20px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;

    &--open {
      width: 25px;
      height: 19px;
      background-image: url("../../../img/icon-menu-open.svg");
      background-repeat: no-repeat;
    }

    &--close {
      width: 19px;
      height: 19px;
      background-image: url("../../../img/icon-menu-close.svg");
      background-repeat: no-repeat;
    }

    &--nojs {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    padding-bottom: 60px;
    
    &__wrapper {
      min-width: 768px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      border-bottom: none;
      min-height: 59px;
    }

    &__nav {
      display: flex;
      padding: 0 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    padding-bottom: 113px;

    &__wrapper {
      min-width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      border-bottom: none;
      min-height: 60px;
    }

    &__nav {
      display: flex;
    }
  }
}

