.product-related {
  margin-top: -1px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.product-related__title {
  @include font-size__15;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  color: $text-color-third;
  text-transform: uppercase;
}

.product-related__desc {
  @include font-size__20;
  margin-bottom: 15px;
  display: flex;
  font-family: $font-second;
  text-align: left;
  color: $text-color-fourth;
}

.product-related__desc-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-related__desc-row {
  display: flex;
  justify-content: space-between;
}

.product-related__desc-cell {
  padding: 0;

  &--name {
    text-align: left;
  }

  &--value {
    text-align: right;
  }
}

.product-related__btn {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .product-related {
    padding: 26px 36px  27px 37px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $border-color;
  }

  .product-related__title {
    @include font-size__11;
    margin-bottom: 25px;
  }

  .product-related__desc {
    @include font-size__15;
  }

  .product-related__desc-cell {
    margin-right: 52px;
    display: flex;

    &--value {
      margin-right: 0;
      text-align: right;
    }
  }

  .product-related__btn {
    width: 633px;
    min-height: 40px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .product-related {
    padding: 16px 0 15px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .product-related__title {
    width: 325px;
    margin-bottom: 0;
  }

  .product-related__desc {
    width: 325px;
    margin-bottom: 0;
    padding-top: 9px;
  }

  .product-related__desc-cell {
    margin: 0;

    &--value {
      width: 81px;
      text-align: left;
    }
  }

  .product-related__btn {
    width: 245px;
    margin-bottom: 0;
  }
}
