.product {
  min-height: 210px;
  margin-top: -1px;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $border-color;
}

.product__link {
  color: $text-color-main;
}

.product__wrapper-desc {
  min-height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product__title {
  @include font-style__12;
  margin: 0;
  text-align: left;
  color: $text-color-main;
  text-transform: uppercase;

  &--add {
    margin-top: 80px;
    align-self: center;
  }
}

.product__text {
  @include font-style__16;
  font-family: $font-second;
  text-align: left;
  color: $text-color-fourth;
  align-self: center;
}

.product__desc {
  @include font-style__16;
  font-family: $font-second;
  text-align: left;
  color: $text-color-fourth;
}

.product__link-img {
  height: 144px;
  order: -1;
}

.product__btn {
  margin-bottom: 24px;

  &--add {
    color: $text-color-fourth;
    background-color: $color-third;
  }
}
