.promo {
  margin-bottom: 22px;
  background-color: $color-main;
}

.promo__wrapper {
  background-color: $color-second;
}

.promo__inner {
  width: $mobile-width;
  min-height: 305px;
  margin: 0 auto;
  margin-bottom: 135px;
  padding-top: 25px;
  padding-bottom: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__title {
  @include font-style__2;
  margin: 0;
  margin-bottom: 25px;
  color: $text-color-second;
  text-align: center;
}

.promo__text {
  @include font-style__17;
  margin: 0;
  margin-bottom: 10px;
  color: $text-color-second;
  text-align: center;
  text-transform: uppercase;
}

.promo__img {
  width: 280px;
  height: 270px;
  position: absolute;
  bottom: -132px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__link {
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }
}

// @media (min-width: $tablet-width) {
//   .main-promo {
//     min-height: 806px;
//     margin: 0;
//   }
//   .main-promo__wrapper--btn {
//     background-color: $bg-page;
//     width: 709px;
//     height: 609px;
//     align-items: flex-start;
//     padding: 30px;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-promo {}
// }

// @media (min-width: $tablet-width) {
//   .main-promo__wrapper--bg-cat {
//     min-height: 197px;
//     margin: 0;
//     padding-bottom: 20px;
//     background: none;
//     background-color: $bg-page;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-promo__wrapper--bg-cat {}
// }

// @media (min-width: $tablet-width) {
//   .main-promo__title {
//     margin: 0;
//     margin-bottom: 35px;
//     padding: 0 120px;
//     font-size: 60px;
//     line-height: 60px;
//     text-align: left;
//     color: #111111;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-promo__title {
//   }
// }

// @media (min-width: $tablet-width) {
//   .main-promo__text {
//     margin: 0;
//     margin-bottom: 20px;
//     padding: 0 120px;
//     font-size: 20px;
//     line-height: 20px;
//     text-align: left;
//     color: #111111;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-promo__text {
//   }
// }

// @media (min-width: $tablet-width) {
//   .main-promo__img {
//     display: none;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-promo__img {
//   }
// }

// @media (min-width: $tablet-width) {
//   .main-promo__link {
//     margin-left: 90px;
//     background-color: $bg-third;
//     padding: 5px 20px;
//   }
// }

// @media (min-width: $desktop-width) {
//   .main-promo__link {
//   }
// }
