.related {
  background-color: $color-main;
<<<<<<< Updated upstream
=======
  margin-bottom: 35px;
}

@media (min-width: $desktop-width) {
  .related {
    margin-bottom: 86px;
  }
>>>>>>> Stashed changes
}

.related__title {
  @include font-style__9;
  margin: 0;
  text-align: left;
  color: $text-color-main;
  position: relative;
  margin-bottom: 35px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 3px;
    top: 14px;
    right: -20px;
    background-color: $color-second;
  }
}

.related__list {
  @include list-style;
  margin-bottom: 39px;
}
