.related {
  background-color: $color-main;
  margin-bottom: 76px;
}

.related__title {
  @include font-style__9;
  margin: 0;
  text-align: left;
  color: $text-color-main;
  position: relative;
  margin-bottom: 35px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 3px;
    top: 14px;
    right: -20px;
    background-color: $color-second;
  }
}

@media (min-width: $tablet-width) {
  .related__title {
    @include font-style__2;
    margin-left: 37px;
    margin-bottom: 82px;
  }
}

.related__list {
  @include list-style;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .related__list {
    margin-bottom: 69px;
  }
}
