.related {
  background-color: $color-main;
  margin-bottom: 35px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .related {
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .related {
    margin-bottom: 86px;
  }
}

.related__title {
  @include font-size__8;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  text-align: left;
  color: $text-color-main;
}

@media (min-width: $tablet-width) {
  .related__title {
    @include font-size__5;
    margin-bottom: 82px;
    margin-left: 37px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    background-color: $color-main;

    &::before {
      content: "";
      width: 5000px;
      height: 3px;
      display: block;
      position: absolute;
      top: 23px;
      left: -5039px;
      background-color: $color-second;
    }

    &::after {
      content: "";
      width: 5000px;
      height: 3px;
      display: block;
      position: absolute;
      top: 23px;
      right: -5036px;
      background-color: $color-second;
    }
  }
}

@media (min-width: $desktop-width) {
  .related__title {
    margin: 0;
    margin-bottom: 81px;
  }
}

@media (min-width: $desktop-width) {
  .related__wrapper {
    display: flex;
    justify-content: center;
  }
}

.related__list {
  @include list-style;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .related__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .related__list {
    flex-grow: 0;
    margin-right: 80px;
    margin-bottom: 0;
  }
}
