.site-list {
  background-color: $bg-page;
}

.site-list__item {
  height: 66px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    cursor: default;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.site-list__link {
  display: block;
  padding: 23px 40px;
  color: #111111;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #222222;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }

  .site-list__item {
    height: 59px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #222222;
    font-size: 18px;
    line-height: 25px;
  }

  .site-list__item {
    height: 60px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
