.site-list {
  background-color: $color-main;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid $border-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    cursor: default;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.site-list__link {
  @include font-style__menu;
  color: $text-color-main;
  text-transform: uppercase;
}

// @media (min-width: $tablet-width) {
//   .site-list {
//     margin: 0 auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     color: #222222;
//     font-size: 18px;
//     line-height: 25px;
//     font-weight: 400;
//   }

//   .site-list__item {
//     height: 59px;
//     border: none;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// @media (min-width: $desktop-width) {
//   .site-list {
//     margin: 0 auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     color: #222222;
//     font-size: 18px;
//     line-height: 25px;
//   }

//   .site-list__item {
//     height: 60px;
//     border: none;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }
