.site-list {
  @include font-size__11;
}

.site-list__item {
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $border-color;
}

.site-list__link {
  color: $text-color-main;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .site-list {
    @include font-size__13;
    min-width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: $text-color-third;
  }

  .site-list__item {
    height: 43px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    margin-left: 35px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--active {
      border-bottom: 2px solid $color-second;
      cursor: default;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .site-list__link {
    color: $text-color-third;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    @include font-size__10;
    min-width: 480px;
  }

  .site-list__item {
    height: 45px;

    &--active-index {
      border-bottom: 2px solid $color-main;
    }
  }

  .site-list__link {
    color: $text-color-third;

    &--index {
      color: $text-color-second;
    }
  }
}
