@media (min-width: $tablet-width) {
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.slider__img {
  width: 311px;
  height: 232px;

  &--after {
    display: none;
  }
}

.slider__list {
  @include list-style;
  display: flex;
  justify-content: center;
}

.slider__img-wrapper {
  margin-bottom: 36px;
}

@media (min-width: $desktop-width) {
  .slider__img-wrapper {
    margin-bottom: 0;
  }
}

.slider__btn-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .slider__btn-wrapper {
    margin-bottom: 74px;
  }
}

@media (min-width: $desktop-width) {
  .slider__btn-wrapper {
    margin-bottom: 14px;
    margin-left: 39px;
  }
}

.slider__item {
  display: flex;
  align-items: center;

  &--margin-right {
    margin-right: 18px;
  }

  &--margin-left {
    margin-left: 18px;
  }

  &--size {
    height: 0px;
  }
}

@media (min-width: $tablet-width) {
  .slider__item--margin-right {
    margin-right: 22px;
  }

  .slider__item--margin-left {
    margin-left: 22px;
  }
}

.slider__btn {
  @include font-style__12;
  padding: 0;
  border: none;
  font-family: $font-main;
  color: $text-color-main;
  text-transform: uppercase;
  background-color: $color-third;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .slider__btn {
    @include font-style__promo-text-tablet;
  }
}

.slider__range-input {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__range-input {
    width: 428px;
    display: block;
    appearance: none;
    background-color: transparent;

    &::-ms-track {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
      color: transparent;
      border-width: 16px 0;
    }

    &::-ms-thumb {
      appearance: none;
      width: 8px;
      height: 8px;
      position: relative;
      border: 13px solid $color-main;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $border-color-second;
      background-color: $color-second;
      cursor: pointer;
    }

    &:focus::-ms-fill-lower {
      border-radius: 2.5px;
      background: $border-color-third;
    }
    
    &:focus::-ms-fill-upper {
      border-radius: 2.5px;
      background: $border-color-third;
    }

    &::-webkit-slider-runnable-track {
      height: 6px;
      border: none;
      border-radius: 2.5px;
      background-color: $border-color-third;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 8px;
      height: 8px;
      position: relative;
      border: 13px solid $color-main;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $border-color-second;
      background-color: $color-second;
      cursor: pointer;
    }

    &::-moz-range-track {
      height: 6px;
      border: none;
      border-radius: 2.5px;
      background-color: $border-color-third;
      cursor: pointer;
    }
  
    &::-moz-range-thumb {
      appearance: none;
      width: 8px;
      height: 8px;
      position: relative;
      border: 13px solid $color-main;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $border-color-second;
      background-color: $color-second;
      cursor: pointer;
    }
  }
}

.slider__range-bar {
  width: 84px;
  height: 14px;
  padding: 3px 6px;
  border: 1px solid $border-color-second;
  border-radius: 6px;
  background-color: $color-main;
}

@media (min-width: $tablet-width) {
  .slider__range-bar {
    display: none;
  }
}

.slider__range-toggle {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $color-second;
}

@media (min-width: $tablet-width) {
  .slider__range-toggle {
    display: none;
  }
}
