.social {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: flex-start;  //для IE
}

@media (min-width: $tablet-width) {
  .social {
    width: 125px;
    min-height: auto;
    flex-direction: column;
    align-items: center;
  }
}

.social__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 125px;
    justify-content: space-between;
  }
}

.social__item {
  width: 22px;
  height: 22px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    width: auto;
    height: auto;
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
}

.social__img {
  background-color: $color-third;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social__img--vk {
    width: 30px;
    height: 16px;
  }

  .social__img--insta {
    width: 23px;
    height: 23px;
  }

  .social__img--fb {
    width: 14px;
    height: 28px;
  }
}

.social__img:hover path {
  fill: $color-second;
}

.social__img:active path {
  fill: $color-second;
  opacity: 0.3;
}
