.social {
  min-height: 63px;
  padding-top: 20px;  //для IE
  display: flex;
  justify-content: center;
  align-items: flex-start;  //для IE
}

@media (min-width: $tablet-width) {
  .social {
    min-height: auto;
    padding-top: 0;  //для IE
    flex-direction: column;
    align-items: center;  //для IE
  }
}

.social__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  width: 22px;
  height: 22px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
}

.social__img {
  background-color: $color-third;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

.social__img:hover path {
  fill: $color-second;
}

.social__img:active path {
  fill: $color-second;
  opacity: 0.3;
}
