.social {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.social__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  width: 22px;
  height: 22px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
}

.social__img {
  fill: $icon-color;
}

.social__img:hover {
  fill: $color-second;
}

.social__img:active {
  fill: $color-second;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    width: 125px;
    min-height: auto;
    flex-direction: column;
    align-items: center;
  }

  .social__list {
    width: 125px;
    justify-content: space-between;
  }

  .social__item {
    width: auto;
    height: auto;
    margin-right: 0;
  }

  .social__img--vk {
    width: 30px;
    height: 16px;
  }

  .social__img--insta {
    width: 23px;
    height: 23px;
  }

  .social__img--fb {
    width: 14px;
    height: 28px;
  }
}
