.site-list {
  background-color: #ffffff;
  font-family: inherit;
  color: #111111;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
