$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;

$mobile-padding: 0 20px;
$tablet-padding: 0 30px;
$desktop-padding: 0 40px;
$form-padding: 0 70px;

$color-main: #ffffff;
$color-second: #68b738;
$color-second--hover: #5eaa2f;
$color-third: #f2f2f2;
$color-third--hover: #ebebeb;
$color-fourth: #eaeaea;

$text-color-main: #111111;
$text-color-second: #ffffff;
$text-color-second--hover: rgba(255, 255, 255, 0.3);
$text-color-third: #222222;
$text-color-fourth: #444444;
$text-color-fourth--hover: rgba(68, 68, 68, 0.3);

$border-color: #ededed;
$border-color--active: #444444;
$border-color-second: #cdcdcd;
$border-color-second--hover: #bababa;
$border-color-second--opacity: rgba(205, 205, 205, 0.5);
$border-color-third: #dcdcdc;

$thumb-color: rgba(0, 0, 0, 0.15);
$thumb-color-hover: rgba(0, 0, 0, 0.25);
$thumb-color-active: rgba(0, 0, 0, 0.25);

$btn-slider-dotted: rgba(0, 0, 0, 0.23);
$btn-slider-line: rgba(0, 0, 0, 0.4);

$font-main: "Oswald", "Arial", sans-serif;
$font-second: "Arial", "Helvetica", sans-serif;
